<!-- Footer -->
<footer class="page-footer font-small blue bg-primary">
  <div class="container">
    <!-- Copyright -->
    <div>
      <div class="row">
        <div class="col-md-10">
          <a href="https://mdbootstrap.com/" class='text-white'>© 2020 Copyright: Crypto Currency Tracker</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <a href='https://www.freepik.com/vectors/background' class="text-white">Background vector created by pressfoto -
            www.freepik.com</a>
        </div>
      </div>
      <!-- Copyright -->
      </div>
      </div>
</footer>
<!-- Footer -->