<div class="container-fluid landing">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="display-4">Crypo Currency Tracker</h1>
            <h4 class="display-5">Crypo Currency Tracker is the easiest way to import your crypo currency transactions and
              track performance</h4>
            <BR>
            <h4 class="display-5">You can use Crypo Currency Tracker to :</h4>
            <ul>
              <li>
                <h4 class="display-5">Track daily, weekly, monthly and annual performance of your investments
                </h4>
              </li>
              <li>
                <h4 class="display-5">Print year-end reports for tax-reporting</h4>
              </li>
            </ul>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width:100%;">
          <img class="card-img" src="/assets/images/financeapp-transparent.png" alt="Card image">
        </div>
      </div>
    </div>
</div>