<div class="container-fluid landing">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Crypo Currency Tracker</h1>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width:100%;">
          <img class="card-img" src="/assets/images/financeapp-transparent.png" alt="Card image">
        </div>
      </div>
    </div>
</div>