<div class="container">

    <div class="d-flex mt-5 justify-content-center">

      <div class="card" style="width: 100%;">
      
        <div class="card-body">
          <div class="card-container">
            <section>
              <h2>WWF History</h2>
              <p>The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the
                conservation,
                research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.
              </p>
            </section>
          
              </div>
              </div>
              </div>
      
        <div class="card" style="width: 100%;">
        
          <div class="card-body">
            <div class="card-container">
              <img class="card-img-top" src="/assets/images/financeapp-transparent.png" alt="Card image cap">
            </div>
          </div>
        </div>

   </div>
        
</div>